<!doctype html>
<html>
   <head>
      <title>Everyware&trade; Cloud - ${statusCode}</title>
      <style>body {padding: 10px;}h1 {color: #1E80B0;}pre {display: none}.label {font-weight: bold;} .message {}</style>
   </head>
   <body>
      <div>
         <h1>Everyware&trade; Cloud</h1>
         <table>
            <tr>
               <td class='label'>HTTP Error Code:</td>
               <td class='message'>${statusCode}</td>
            </tr>
            <tr>
               <td class='label'>Requested Resource:</td>
               <td class='message'>${requestUri}</td>
            </tr>
            <tr>
               <td class='label'>Error Message:</td>
               <td class='message'>${errorMessage}</td>
            </tr>
            <tr>
                <td class='label'>Exception Message:</td>
                <td class='message'>${exceptionMessage}</td>
            </tr>
         </table>
         <pre>${errorMessage}</pre>
      </div>
   </body>
</html>